html
   head
      title Mobil Uygulamam
      br
      link(href="//getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet")
      script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
      script(src="javascripts/jquery.js")
   body

   #baslik(style="text-align:center;  width:600px; height: 80px;padding: 20px;background-color: white;position: relative;margin: auto; ")
     h1 Uye Ol
     br
   #form(style="text-align:center;  width:600px; height: 80px;padding: 20px;background-color: white;position: relative;margin: auto; ")
       form(name="form" action="" method="post" onsubmit="return false;"  id="formad")

             input(type="text" class="form-control" name="uye_kadi" placeholder="Username" required)
             br
             input(type="text" class="form-control" name="uye_sadi" placeholder="Surname" required)
             br
             input(type="text" class="form-control" name="uye_sifre" placeholder="Password" required)
             br
             input(type="text" class="form-control" name="uye_eposta" placeholder="E-posta" required)
             br


             button(onclick="$.kayitol()" ng-disabled="form.$invalid" class="btn btn-info" style="margin-right:10px") Uye Ol
             button(onclick="$.Back1()" ng-disabled="form.$invalid" class="btn btn-info" ) Geri Don
             br
             br
             br
             #sonuc(style="text-align:center;")
             p(class="text-success")


